# Byte-compiled / cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
ENV/
project/_Keyword_Extraction_NLP_Project/Conda/

# Distribution / packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Conda environments
conda_envs/
project/_Keyword_Extraction_NLP_Project/conda_envs/

